h1 {
	font-weight:100;
}
html {
	font-family:'Roboto';
}

body {
	font-family: 'Roboto';
	background-image:url("background.png");
	background-size:fill;
	background-repeat:no-repeat;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;

}

.center_word {
	text-align:center;
}

.menu {
	text-decoration:none;
	color:white;
}
.bar {

	position:absolute;
	width:100%;
	left:0;
	top:0;
	background-color:black;
	color:white;
	overflow:hidden;
	font-size:1.5em;
	opacity:.6;
	padding-bottom:.9%;
	padding-top:.5%;
}

.menu_sandwich {
	display:flex;
	justify-content:space-around;

}

.menu_sandwich_styling {

	font-size:1.1rem;

}


.description_box {
	max-width:35%;
	padding:4vh;
	line-height:1.5em;
}

.description_wrapper {
	padding-top:15%;
}

.contact_button {
	padding:1vh;
}

.resume {
	padding:1vh;
	margin-top:2vh;
	font-weight:100;
	font-size:2em;
	text-decoration:none;
	color:black;
}


.div_styling_1 {
	background-color:rgba(150, 150, 149, .5);
	box-shadow: 1px 1px 18px 1px #000;
	border-radius:5px;
}


.fa-twitch {
	color:#6441a5
}
.fa-linkedin {
	color:#2867b2
}
.btn {
	min-width:90px;
	min-height:90px;
	background-color:rgba(150, 150, 149, .4);
	margin:1%;
	color:#f1f1f1;
	box-shadow: 0px 0px 8px 3px #000;
	transition:all .2s ease-in-out;
}

.button_wrapper {
	display:flex;
	justify-content:center;
}
.btn i{
	line-height:90px;
	font-size:26px;
}

.btn:hover {
    transform: translateY(-8px);
    transition:all .4s ease-in-out;
}

#contact_buttons {
	text-align:center;
	padding-top:8vh;
}

@media only screen and (max-width: 450px) {
	.button_wrapper {
  		display:flex;
  		flex-direction:column;
  }
  	.btn i {
  		font-size:50px;
  	}

  	.menu {
  		font-size:1em;
  	}
}

@media only screen and (max-width: 750px) {
	body {
		background-image:url("phone-bkg.png");
	}
}

/* force change */s 

